<div class="content">
  <div class="card">
    <div class='card-body'>
      <div style="text-align:center;">
        <img src="{{logoimage}}" style="height:130px;">
      </div>

      <div class="d-flex flex-row-reverse" style="margin-bottom:10px;">
        <app-userlogged></app-userlogged>
      </div>
      <div class='row'>
        <div class="col-md-4">
          <app-userlist></app-userlist>
       </div>
        <div class="col-md-8">
          <app-userdetails></app-userdetails>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col">
          <app-userdetails></app-userdetails>
        </div>
      </div> -->
    </div>
  </div>
</div>
<app-basemodal></app-basemodal>
